@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #58402C;
}

a{
  text-decoration: none;
}

hr{
  margin: 50px 0 80px;
  border-width: 0;
  border-top: 1px solid #bdb5af;
}


header{
  height: 500px;
    .navbar{
      @include my-flex;
      background-color: #fff;
      position: fixed;
      top:0;
      z-index: 1;
      height: 70px;
      width: 100vw;
      .navleft{
        margin-left: 12%;
      }
      .navright{
        width: 30%;
        margin-right: 12%;
        button{
          background-color: #fff;
          border: 1px solid #2E4691;
          color: #2E4691;
          border-radius: 5px;
          padding: 1.5%;
          &:hover{
            background-color: #2E4691;
            color: #fff;
          }
        }
        span{
          @include my-ul;
          margin: 0 4%;
          }
          img{
            vertical-align: middle;
          }

          &:hover{
            color:#30488F;
          }
        }
        .displaymenu{
          ul{
            display: none;
            position: absolute;
            background-color: #fff;
            padding: 0 2% 0 1%;
            margin-left: 0.5%;
            box-shadow: 0 0 3px #888888;
            border-radius: 5px;
            li{
              line-height: 2;
            }
          }
          &:hover{
            ul{
              display: block;
            }
          }

      }
    }

    .jumbotron{
      @include my-flex;
      margin-top: 80px;
      height: calc(500px - 80px);
      .jumboleft{
        @include my-dont-know;
        @include my-butt;
        margin-left: 12%;
        margin-right: 5%;
        line-height: 1.4;
        h1{
          font-size: 55px;
        }
        p{
          font-size: 25px;
          margin: 3% 2% 3% 0;
        }
      }
      .jumboright{
        @include my-dont-know;
        margin-right: 12%;
        img{
          width:100%;
        }
      }
    }
}

main{
  .beige{
    @include my-font;
    @include my-one-of-three;
    text-align: center;
    width: 100%;
    background-color: #ffe7d2;
    padding: 4% 0;

    .beigeup{
      .treimg{
        .one{
          .notsafe{
            width: 70%;
          }
          .safe{
            width: 30%;
          }
        }
      }
    }
  }
}

main{
  .whitecenter{
    @include my-font;
    line-height: 1.6;
    width: 100%;
    .white{
      @include my-flex;
      p{
        margin: 4% 0;
      }
      img{
        width: 80%;
        margin-top:8%;
      }
      img.display{
        width: 60%;
      }

      .info{
        margin: 0 4%;
      }
    }
    .left{
      margin: 4% 20% 4% 0;
    }
    .right{
      margin: 4% 0 4% 20%;
    }
  }

  .lastbeige{
    @include my-butt;
    width: 100%;
    background-color: #ffe7d2;
    text-align: center;
    padding: 4% 20%;
    h2{
      font-size: 40px;
    }
    blockquote{
      text-align: left;
      background-color: #fff;
      border: 1px solid #000;
      margin: 4% 15%;
      line-height: 2;
      padding: 2.5% 4%;
      font-size: 18px;
    }
  }
}

footer{
  @include my-flex;
  width:100%;
  padding: 6% 12%;
  .footone{
    width: 40%;
    height: 300px;
    font-size: 18px;
    margin-right: 10%;
    a{
      color: #30488F;
    }
    img{
      width: 18%;
      float: left;
      margin-right: 6%;
    }
  }
  .foot{
    @include my-ul;
    width: 20%;
    height: 300px;
    line-height: 2;
    span{
      font-weight: bold;
      font-size: 20px;
    }
  }
}
